<div class='container'>
  <div class='row'>
    <div class='col-md-1'>
      <i class="bi bi-mouse2" aria-hidden="true"></i>
    </div>
    <div class='col-md-10'>
      <b>Scroll/pinch</b> to zoom in and out.
    </div>
  </div>

  <div class='row'>
    <div class='col-md-1'>
      <i class="bi bi-mouse3" aria-hidden="true"></i>
    </div>
    <div class='col-md-10'>
      <b>Click/tap and drag</b> to pan around.
    </div>
  </div>

  <h6>Icons Representation</h6>
  <div class='row'>
    <div class='col-md-1'>
      <i class="fa fa-archive" aria-hidden="true"></i>
    </div>
    <div class='col-md-10'>
      represents <b>Product</b>.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-1'>
      <i class="fa fa-layer-group" aria-hidden="true"></i>
    </div>
    <div class='col-md-10'>
      represents <b>Category</b>.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-1'>
      <i class="fa fa-vector-square" aria-hidden="true"></i>
    </div>
    <div class='col-md-10'>
      represents <b>Variant</b>.
    </div>
  </div>
</div>
